.logoside{
    margin-left: 30px;
    width: 110px;
    font-weight: bold;
    font-size: 1.0rem;
    color: #296280;
}
.reportmenu{
    padding: 0px 10px;
    width: 100%;
}
.workspace{
    overflow: auto;
    background-color: lightgrey;
}
.menulink{
    padding: 2px 5px;
    border-radius: 3px;
}
.menulink:hover{
    background-color: #d0eae1;
    color: #296280;
    text-decoration: none;

}
.iconback{
    border-radius: 50%;
    border: 1px solid #c3c3b6;
    cursor: pointer;
}